---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Games</h2>
      <img
        class="mb-16 hidden rounded-2xl lg:block"
        src="/sunken-shadows-capsule-main.webp"
        alt="Sunken Shadows"
        decoding="async"
        loading="lazy"
      />
      <div class="mb-16">
        <iframe
          src="https://store.steampowered.com/widget/2750120/"
          loading="lazy"
          width="646"
          height="190"
          title="Wishlist Sunken Shadows on Steam"></iframe>
      </div>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:dice" title="Roguelike">
          Explore procedurally generated dungeons full of hidden treasures, traps and puzzles. Made from hand-built
          rooms to ensure a fun playing experience and interesting discoveries.
        </Feature>
        <Feature icon="mdi:arrow-up" title="Upgrades">
          Each time you find or buy an upgrade item, you are offered the choice of 3 different upgrades of different
          rarities. Choose wisely and build cool new synergies. Some upgrades are cursed and require you to sacrifice in
          order to gain their powerful abilities.
        </Feature>
        <Feature icon="mdi:emoticon-devil-outline" title="Challenging bosses">
          The demo will have two different boss fights, one at the end of each biome. The full game will feature plenty
          more. Each boss has their own patterns and special attacks to learn.
        </Feature>
        <Feature icon="mdi:pine-tree-multiple-outline" title="Different biomes">
          Explore lots of varied biomes with different enemies, traps, secrets and bosses to find. You start in the
          ruined city, journey onwards to the coral reef and to the Leviathan depths. As you get deeper, the environment
          and enemies will get progressively more corrupted.
        </Feature>
        <Feature icon="mdi:person-multiple-add-outline" title="Multiple characters">
          By unlocking achievements, you gain access to new starting charaters. They come with different items and
          upgrades and offer a new way to experience the game and build synergies based on their starting gear.
        </Feature>
        <Feature icon="mdi:temperature-increase" title="Difficulty modifiers">
          The game adjusts to your skill by offering you new challenges once you've mastered the basics. This comes with
          increased rewards, but lots of additional peril as well.
        </Feature>
        <Feature icon="mdi:clothes-hanger" title="Unlockable skins">
          You can purchase visual customizations using the emeralds you find in chests or for completing hard challenges
          and puzzles.
        </Feature>
        <Feature icon="mdi:cursor-move" title="Level editor">
          Create your own challenges and custom rooms using the included level editor. Send us your coolest builds and
          we might feature them in a future update!
        </Feature>
        <Feature icon="mdi:controller" title="Controller support">
          Play with any common controller or use mouse and keyboard. The game and UI is fully controller navigable.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia
    imgSrc="/screenshot2.webp"
    reverseImg={true}
    alt="Screenshot of Sunken Shadows featuring the ruins biome, a crab mech enemy and spike traps"
  >
    <h2>Dangerous enemies and traps</h2>
    <p class="text-2xl">
      Fight through hordes of enemies, each with their own strategies and weaknesses. Avoid tricky traps placed by the
      builders of the ruined ancient city you're exploring.
    </p>
  </ContentMedia>
  <ContentMedia
    imgSrc="/screenshot1.webp"
    alt="Screenshot of Sunken Shadows featuring the coral reef biome and a broken ship"
  >
    <h2>Retro graphics enhanced with modern effects</h2>
    <p class="text-2xl">
      We use low poly models and pixel art textures, combined with modern lighting, shaders and particles to give the
      game a unique art style.
    </p>
  </ContentMedia>
  <!--
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="520" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
  -->
</DefaultLayout>
