---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Sunrise Glitch Games & <a href="https://gruner.tech">Gruner Technologies</a>
      </p>
    </div>
  </section>
</footer>
