---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import MenuIcon from '../components/MenuIcon.astro'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <!--
    <li class="menu-item">
      <a href="/blog/">Blog</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Games</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/sunken-shadows/">Sunken Shadows</a>
        </li>
      </ul>
    </li>
    -->
    <li class="menu-item">
      <a href="/about/">About</a>
    </li>
    <MenuIcon
      url="https://store.steampowered.com/app/2750120/Sunken_Shadows/"
      title="Go to Steam page"
      icon="simple-icons:steam"
    />
    <MenuIcon url="https://twitter.com/Sunken_Shadows" title="Go to Twitter page" icon="simple-icons:twitter" />
    <MenuIcon
      url="https://www.youtube.com/@SunriseGlitchGames"
      title="Go to YouTube page"
      icon="simple-icons:youtube"
    />
    <MenuIcon url="https://discord.gg/BhDaMS5S9P" title="Go to Discord server" icon="simple-icons:discord" />
    <MenuIcon url="https://www.tiktok.com/@sunriseglitchgames" title="Go to TikTok page" icon="simple-icons:tiktok" />
    <MenuIcon
      url="https://www.instagram.com/sunriseglitchgames/"
      title="Go to Instagram page"
      icon="simple-icons:instagram"
    />
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
