---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/blog/">Blog</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Games</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/sunken-shadows/">Sunken Shadows</a>
        </li>
      </ul>
    </li>
    <!--<li class="menu-item">
      <a href="/about/">About</a>
    </li>-->
    <li class="menu-item type-icon">
      <a href="https://store.steampowered.com/app/2750120/Sunken_Shadows/" title="Go to Steam page" rel="external noopener noreferrer">
        <Icon name="simple-icons:steam" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://twitter.com/Sunken_Shadows" title="Go to Twitter page" rel="external noopener noreferrer">
        <Icon name="simple-icons:twitter" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://www.youtube.com/@SunriseGlitchGames" title="Go to YouTube page" rel="external noopener noreferrer">
        <Icon name="simple-icons:youtube" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://discord.gg/BhDaMS5S9P" title="Go to Discord server" rel="external noopener noreferrer">
        <Icon name="simple-icons:discord" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://www.tiktok.com/@sunriseglitchgames" title="Go to TikTok page" rel="external noopener noreferrer">
        <Icon name="simple-icons:tiktok" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://www.instagram.com/sunriseglitchgames/" title="Go to Instagram page" rel="external noopener noreferrer">
        <Icon name="simple-icons:instagram" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
