---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

const { src = '/hero.webp' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-7xl">
          <slot>
            <span class="text-gradient">Retro games</span> with <span class="text-gradient">soul</span>, built with <span
              class="text-gradient">passion</span
            >
          </slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="https://store.steampowered.com/app/2750120/Sunken_Shadows/">
            <Icon name="simple-icons:steam" />
            Wishlist on Steam
          </a>
          <a class="button has-icon color-secondary" href="https://discord.gg/BhDaMS5S9P">
            <Icon name="simple-icons:discord" />
            Join our Discord
          </a>
        </div>
      </div>
      <Image
        class="hidden lg:block"
        src={src}
        loading="eager"
        alt="Sunken Shadows screenshot"
        decoding="async"
        width={711}
        height={743}
      />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
